.sidebar{

  position:fixed;

  top:0;
  align-items:center;
  justify-content:space-between;
  left:0;

  width:260px;

  height:100%;

  background:
  rgba(255,255,255,0.04);

  backdrop-filter:blur(18px);

  border-right:
  1px solid rgba(255,255,255,0.08);

  padding:2rem 1.5rem;

  overflow-y:auto;

  z-index:1000;
}

.sidebar-logo{

  font-size:1.5rem;

  font-weight:700;

  margin-bottom:3rem;

  color:var(--text-primary);
}
.sidebar-links{

  display:flex;

  flex-direction:column;

  gap:1rem;
}

.sidebar-links a{

  padding:1rem;

  border-radius:14px;

  color:var(--text-secondary);

  transition:var(--transition);
}

.sidebar-links a:hover{

  background:
  rgba(124,58,237,0.15);

  color:white;
}
.sidebar-user{

  display:flex;

  align-items:center;

  gap:1rem;

  margin-bottom:1.5rem;
}

.sidebar-user p{

  font-size:0.85rem;

  color:var(--text-secondary);
}
.logout-btn{

  width:100%;

  padding:1rem;

  border:none;

  border-radius:14px;

  cursor:pointer;

  background:
  rgba(239,68,68,0.15);

  color:#EF4444;

  font-weight:600;
}
.sidebar-bottom{
  flex:1;
  margin-top:10rem;
  align-self:flex-end;
}
