*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  /* overflow:hidden; */
  background:
  radial-gradient(circle at top left, rgba(124,58,237,0.15), transparent 25%),
  radial-gradient(circle at bottom right, rgba(34,211,238,0.1), transparent 25%),
  var(--bg-dark);

  background-attachment: fixed;

  color: var(--text-primary);

  overflow-x:hidden;

  -webkit-font-smoothing: antialiased;
}

a{
  text-decoration:none;
  color:inherit;
}

button{
  cursor:pointer;
  border:none;
}
.dashboard-layout{

  display:flex;

  min-height:100vh;

  background:
  linear-gradient(
    135deg,
    #020617,
    #000814,
    #001d3d
  );
}
.dashboard-main{

  margin-left:260px;

  min-height:100vh;

  width:100%;

  padding:2rem;
}